By default, Lux helps users visualize their dataframes. But what happens if your data is stored in a relational database? Lux extends its visualization capabilities to operate on SQL databases (Note that SQL is a experimental feature, only PostgreSQL is currently supported and tested). 

In this tutorial, we will show how users can connect their database tables and views to a `LuxSQLTable` to leverage the rich recommendation capabilities provided by Lux without having to pull all of the data into a dataframe.

In [ ]:
import pandas as pd
import lux

In this environment, we have set up a Postgres database and populated it with two database tables used in this demo. The script used to upload the data can be found within the `scripts/` folder.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://testuser:testpass@localhost:5432/testdb")
lux.config.set_SQL_connection(engine)

Once we have created a postgresql connection, we can now create a `LuxSQLTable` and specify the name of the table to explore.

In [ ]:
sql_tbl = lux.LuxSQLTable(table_name="college")

By printing out the LuxSQLTable, we automatically get a preview data table and set of recommended visualizations.

In [ ]:
sql_tbl

We find that `ACTMedian` and `SATAverage` shows a very strong correlation. From the Category tab, we see that there are few records where `PredominantDegree` is "Certificate". In addition, there are not a lot of colleges with "Private For-Profit" as `FundingModel`.

We are interested in picking a college to attend and want to understand the `AverageCost` of attending different colleges and how that relates to other information in the dataset.

In [ ]:
sql_tbl.intent = ["AverageCost"]
sql_tbl

We see that there are a large number of colleges that cost around $20000 per year. Scrolling through the Enhance tab, we also see that Bachelor degree colleges and colleges in New England and large cities tend to have a higher AverageCost than its counterparts.

We are interested in the trend of AverageCost v.s. SATAverage since there is a rough upwards relationship above AverageCost of $30000, but below that the trend is less clear.

In [ ]:
sql_tbl.intent = ["AverageCost","SATAverage"]
sql_tbl

By adding the FundingModel, we see that the cluster of points on the left can clearly be attributed to public colleges, whereas private colleges more or less follow a trend that shows that colleges with higher SATAverage tends to have higher AverageCost.

Using [Vis objects in Lux](https://lux-api.readthedocs.io/en/latest/source/guide/vis.html), we can quickly create visualizations based on the table in our database.

In [ ]:
from lux.vis.Vis import Vis

new_vis = Vis(["AdmissionRate","AverageCost","FundingModel"], sql_tbl)
new_vis

We can also create a new LuxSQLTable object and connect it to a different database table. This will let you explore both datasets at once.

In [ ]:
sql_tbl2 = lux.LuxSQLTable(table_name="car")
sql_tbl2